body{
    padding-top: 70px;
    padding-bottom: 60px;
}
body.hastoolbar{
    padding-top: 110px;
}
.toolbar{
	top: 55px !important;
}
a:not([href]) {
	cursor: pointer;
}
i.material-icons{
	vertical-align:bottom;
}
.fas{
    line-height: inherit !important;
}
.noafter:after, .nobefore:before{
    content: none;
}
.badge{
    vertical-align: middle;
}
